<mat-progress-bar *ngIf="loading$ | async" mode="buffer"></mat-progress-bar>

<div  *ngFor="let movie of movies$ | async">

    <mat-card>
        <!--    <div class="container">-->
        <div class="row">
            <div class="col text-center">
                <span [textContent]="movie.name"></span>
            </div>
            <div class="col text-center">
                <span [textContent]="'Our Rating:' + movie.rating"> </span>
            </div>
            <div class="col text-center">
                <span [outerText]="movie.likes + '\npeople like\n' + movie.name"></span>
                <br>
                <mat-icon aria-hidden="false" aria-label="Example thumb_up icon">thumb_up</mat-icon>
            </div>
            <div class="col">
                <button mat-button mat-raised-button (click)="openImdbTab(movie.imdbUrl)">Visit IMDB Page</button>
            </div>
        </div>
        <!--    </div>-->
    </mat-card>

</div>
